version: '3.9'

services:
  mongo_db:
    container_name: db_container
    image: mongo:latest
    restart: always
    volumes:
      - mongo_db:/data/db

  api:
    image: chaithanya970/codeeditor:backend
    container_name: codeeditor-backend
    ports:
      - 5001:5001
    environment:
      PORT: 5001
      MONGODB: mongodb://mongo_db:27017
    depends_on:
      - mongo_db
    volumes:
      - ./backend/access.log:/usr/src/app/access.log

  code-runner:
    image: chaithanya970/codeeditor:coderunner
    container_name: codeeditor-coderunner
    ports:
      - 5005:5005

  
  front_end:
    image: chaithanya970/codeeditor:frontend
    container_name: codeeditor-front_end
    ports:
      - 3000:3000
    
    depends_on:
      - mongo_db
      - api
      - code-runner


volumes:
  mongo_db: {}